.navbarHidden {
    flex: 1;
    min-width: 10px;
    height: 100vh;
    background-color: blueviolet;
}

.navbarShown {
    flex: 4;
    height: 100vh;
}

.openNavbar{
    background-color: transparent;
    border: none;
}

.closeNavbar{
    background-color: transparent;
    border: none;
}